.avatar{
    border: 3px solid lightgrey;
    border-radius: 50%;
    overflow: hidden;
    max-width: 3%;
    margin-left: 20px;
}

.boxes{
    text-align: left; 
    justify-content: left;
    display: flex;
    position: relative;
}

.boxes .name{
    min-width: 170px;
}
